:root {
  --font-size-base: 20px;
  --font-family-base: 'Raleway', sans-serif;
  --line-height-base: 1.6;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-family-headings: 'Arvo', serif;
  --line-height-headings: 1.2;
  --font-size-sm: 0.75rem;
  --font-size-lg: 1.25rem;
}
