:root {
  --font-size-base: 20px;
  --font-family-base: 'ABeeZee', sans-serif;
  --line-height-base: 1.5;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-family-header: var(--font-family-base);
  --line-height-header: 1.2;
  --font-size-sm: 0.75rem;
  --font-size-lg: 1.25rem;
}
