input[type='text'],
input[type='email'] {
  appearance: none;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  background: var(--color-secondary);
  width: 100%;
  height: auto;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.15s ease-out;
  transition: background-color 0.1s ease-out;

  &:disabled {
    background-color: var(--color-gray-lighterest);
    color: var(--color-gray-lighter);
  }

  &.has-error {
    border-color: var(--color-danger);
  }

  &:focus {
    /* border-color: var(--color-gray-light); */
  }

  &:read-only {
    cursor: default;
    pointer-events: none;
  }

  &::placeholder {
    color: var(--color-gray-dark);
  }
}
