html {
  box-sizing: border-box;
  height: 100%;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-white);
}

::selection {
  background: var(--color-primary);
  color: var(--color-white);
}
