@define-mixin btn {
  @mixin link-reset;

  cursor: pointer;
  min-width: 10em;
  text-align: center;
  width: auto;
  border-radius: 2em;
  display: inline-block;
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  transition: background-color var(--animation), border-color var(--animation),
    color var(--animation), opacity var(--animation);
  border-width: var(--button-border-width);
  border-style: solid;
  line-height: var(--line-height-headings);

  &[disabled] {
    &,
    &:focus,
    &:hover {
      opacity: 0.75;
      background: var(--color-gray);
      color: var(--color-white);
      border-color: var(--color-gray);
    }
  }
  & .icon {
    transform: translateY(2px);
  }
}

@define-mixin btn-with-icon {
  padding-right: 2.25em;
  position: relative;

  & .icon {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.25em;
    width: 1em;
    height: 1em;
  }
}

@define-mixin btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

@define-mixin btn-primary-hover {
  background: var(--color-white);
  color: var(--color-primary);
}

@define-mixin btn-cta {
  background: var(--color-cta);
  color: var(--color-white);
  border-color: var(--color-cta);
}

@define-mixin btn-cta-hover {
  background: var(--color-white);
  color: var(--color-cta);
}

@define-mixin btn-ghost {
  background: var(--color-white);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

@define-mixin btn-ghost-hover {
  background: var(--color-primary);
  color: var(--color-white);
}

@define-mixin btn-with-sub-text {
  text-align: left;
  border-radius: 0.25em;
  padding: 0.25em 1.25em 0.25em 0.5em;

  & .sub {
    @mixin text-sub;
  }

  & .label {
    @mixin heading;
  }
}
