:root {
  --color-primary: #010101;
  --color-white: #b3b3b3;
  --color-black: var(--color-primary);
  --text-color: var(--color-primary);
  --color-gray-darker: #41494c;
  --color-gray-dark: #728186;
  --color-gray: #a3b8c0;
  --color-gray-light: #becdd3;
  --color-gray-lighter: #e6e6e6;
  --color-gray-lightest: #f1f4f5;
}

@media (--dark-mode) {
  :root {
    --color-primary: #b3b3b3;
    --color-white: #010101;
  }
}
